* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    background-image: url('../assets/images/b1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.bg::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: -1;
}

.title {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFCC33;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    padding: 15px 30px;
    text-align: center;
    z-index: 2;
}

.title h1 {
    margin: 0;
    color: white;
    letter-spacing: 3px;
    font-family: 'Hammersmith One', serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
    font-size: 24px;
}

.detailsbox {
    width: 30%;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(139, 126, 126, 0.46);
    border-radius: 35px;
    padding: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.details {
    position: absolute;
    top: calc(1% + 180px);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.details button {
    background-color: #F3D643;
    border: none;
    width: 100%;
    max-width: 300%;
    border-radius: 40px;
    padding: 14px 25px;
    color: black;
    font-size: 18px;
    font-family: 'Krona One', serif;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.details button:hover {
    background-color: #e6b800;
}

.end {
    position: absolute;
    bottom: 115px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
    letter-spacing: 5px;
    font-family: "Bakbak One", sans-serif;
    z-index: 2;
}

.end2 {
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
    letter-spacing: 3px;
    font-family: "Alegreya SC", serif;
    font-weight: 100;
    z-index: 2;
}
